# conda create -n pytorch-template python=3.10

torch<=2.3.1
torchvision<=0.18.1

wheel
hjson
numpy<2.0.0
opencv-python
tensorboard
torchinfo
tqdm
wandb
ema-pytorch==0.4.5

## project requirements
scikit-image
matplotlib
pandas
torchmetrics
timm
