# conda create -n pytorch-template python=3.12
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.7.1
torchvision==0.22.1

wheel
hjson
numpy
opencv-python
tensorboard
torchinfo
tqdm
wandb
beartype
psutil
pydantic==2.10

## project requirements
scikit-learn
scikit-image
matplotlib
pandas
torchmetrics
